.hotelIntroduction {
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;

  .card {
    margin-top: 12px;
    padding: 16px;
    border: 1px solid rgb(167, 197, 242);
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
    border-radius: 18px;

    .card-item {
      margin-bottom: 4px;
      display: flex;
      align-items: baseline;
      font-size: 14px;
      line-height: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      .icon {
        flex-shrink: 0;
      }
      .label {
        width: 62px;
        margin-left: 4px;
        flex-shrink: 0;
        font-weight: 700;
      }
      .justify {
        display: flex;
        justify-content: space-between;
      }

      .value {
        margin-left: 8px;
        word-break: break-all;
      }
    }
  }
}
