.timeline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .event {
    width: 100%;
    display: flex;
    position: relative;

    .time {
      color: #666;
      width: 70px;
      line-height: 1;
      flex-shrink: 0; // 防止内容溢出
      word-break: break-all; // 允许长单词换行
    }

    .split {
      position: relative;
      margin: 2px 10px 0;
      height: inherit;
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-shrink: 0; // 防止内容溢出

      .icon {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #007bff;
      }

      .line {
        flex-grow: 1;
        margin-top: 14px;
        width: 1px;
        height: calc(100% - 18px);
        border-left: 1px dashed #007bff;
        position: absolute;
        top: 0;
        left: 50%; /* 定位线到圆点的中心 */
        transform: translateX(-50%);
      }
    }

    .content {
      line-height: 18px;
      padding-bottom: 32px;
    }
  }

  .event:last-child .content {
    padding-bottom: 0;
  }
}
