.phone {
  display: flex;
  align-items: center;

  .label {
    width: 40px;
    flex-shrink: 0;
  }

  .value {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
